<nav class="navbar nav navbar-expand-lg">
    <div class="container-fluid">
      <a href="home">
        <i style="color: white;" class="fa fa-home fa-2x">Home</i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

        </ul>
        <li class="nav-item" style="margin-left: 32.5%;">
          <a class="title" aria-current="page" >Department Information</a>
        </li>
      </div>
    </div>
  </nav>

<div class="deptback">
<div class="card cardposition deptcard" style="width: 65rem; ">
    <div class="card-body">
      <h5 class="card-title badge text-dark opacity-90 fs-3 center">Edit Department Information</h5>
      <div class="container">
            <br>
            <h4>Department Information</h4>

            <div class="form-group fieldsBottom">
                <label for="dCategory">Department Category</label>
                <select [(ngModel)]="department.dCategory"
                    class="form-control">
                    <option>Technology</option>
                    <option>Management</option>
                </select>
                <!-- <div *ngIf="submitted && f.dCategory.errors" class="Invalid-feedback">
                    <div *ngIf="f.dCategory.errors.required" class="validationColor">Department Category is required</div>
                </div> -->
            </div>
    
    
            <div class="form-group fieldsBottom">
                <label for="dName">Department Name</label>
                <input type="text" [(ngModel)]="department.dName"
                    class="form-control" placeholder="Enter Department Name">
                <!-- <div *ngIf="submitted && f.dName.errors" class="Invalid-feedback">
                    <div *ngIf="f.dName.errors.required" class="validationColor">Department Name is required</div>
                </div> -->
    
            </div>
    
    
            <div class="form-group fieldsBottom">
                <label for="dEmail">Department Email</label>
                <input type="email" [(ngModel)]="department.dEmail" 
                    class="form-control" placeholder="Enter Department Email">
                <!-- <div *ngIf="submitted && f.dEmail.errors" class="Invalid-feedback">
                    <div *ngIf="f.dEmail.errors.required" class="validationColor">Department Email is required</div>
                </div> -->
            </div>
    
            <div class="form-group fieldsBottom">
                <label for="dTeams">No of Teams</label>
                <input type="number" [(ngModel)]="department.dTeams" 
                    class="form-control" placeholder="(1-10)">
                <!-- <div *ngIf="submitted && f.dTeams.errors" class="Invalid-feedback">
                    <div *ngIf="f.dTeams.errors.required" class="validationColor">No of Teams is required</div>
                </div> -->
            </div>
    

            <br>
            <h4>Department Head Information</h4>
            <div class="form-group fieldsBottom">
                <label for="hName">Department Head Name</label>
                <input type="text" [(ngModel)]="department.hName" 
                    class="form-control" placeholder="Enter Department Head Name">
                <!-- <div *ngIf="submitted && f.hName.errors" class="Invalid-feedback">
                    <div *ngIf="f.hName.errors.required" class="validationColor">Department Head Name is required</div>
                </div> -->
            </div>
            <div class="form-group fieldsBottom">
                <label for="hEmail">Personal Email</label>
                <input type="email" [(ngModel)]="department.hEmail"
                    class="form-control" placeholder="Enter Personal Email">
                <!-- <div *ngIf="submitted && f.hEmail.errors" class="Invalid-feedback">
                    <div *ngIf="f.hEmail.errors.required" class="validationColor">Personal Email is required</div>
                </div> -->
            </div>
            <div class="form-group fieldsBottom">
                <label for="hNo">Contact Number</label>
                <input type="number" [(ngModel)]="department.hNo"
                    class="form-control" placeholder="Enter Contact Number">
                <!-- <div *ngIf="submitted && f.hNo.errors" class="Invalid-feedback">
                    <div *ngIf="f.hNo.errors.required" class="validationColor">Contact Number is required</div>
                </div> -->
            </div>
            <div class="form-group fieldsBottom">
                <label for="uDate">Updated Date</label>
                <input type="date" [(ngModel)]="department.uDate"
                    class="form-control" placeholder="Enter Updated Date">
                <!-- <div *ngIf="submitted && f.uDate.errors" class="Invalid-feedback">
                    <div *ngIf="f.uDate.errors.required" class="validationColor">Updated Date is required</div>
                </div> -->
            </div>
           
    
    
            <br>
            <div class="form-group center">
                <button class="btn btn-success" (click)="updateData()">Submit</button>
    
            </div>
    </div>
    
      
    </div>
  </div>
</div>
