<div class="homebk">
    <div class="App">
        <header class="App-header">
            <div class="headerx">

                <h1 id="title">White Light </h1>

            </div>

            <div class="area"></div>
            <nav class="main-menu">
                <br><br>
                <ul>
                    <br>
     
                    <li>
                        <a href="home">
                            <i class="fa fa-home fa-2x"></i>
                            <span class="nav-text">
                                Dashboard
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="home-employee">
                            <i class="fa fa-laptop fa-2x"></i>
                            <span class="nav-text">
                                Employee
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="home-department">
                            <i class="fa fa-list fa-2x"></i>
                            <span class="nav-text">
                                Department
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="home-project">
                            <i class="fa fa-folder-open fa-2x"></i>
                            <span class="nav-text">
                                Projects
                            </span>
                        </a>

                    </li>
                    <li>
                        <a href="home-financial">
                            <i class="fa fa-bar-chart-o fa-2x"></i>
                            <span class="nav-text">
                                Financial
                            </span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="">
                            <i class="fa fa-power-off fa-2x"></i>
                            <span class="nav-text">
                                Logout
                            </span>
                        </a>
                    </li>
                   <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                </ul>
       
            </nav>
        </header>

    </div>

</div>
<body class="center">
    Copyright © White light All rights reserved.
</body>