.center {
    display: flex;
    justify-content: center;
  }

  .buttonBottom{
    margin-bottom: 21%;
  }

  .nav {
    background-color: #212121;
  }
  .title {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
      "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 35px;
    color: white;
  }
  
  